/* Header */
.bottom-header {
  gap: 500px;
}
.header-container {
  background: #ffffff;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer-container {
  position: bottom;
  background: #000;
  color: #d4af37;
  padding: 10px 0;
  text-align: center;
}

/* Logo */
.logo {
  max-width: 150px;
  margin: 0 auto;
  max-width: 150px;
  margin-left: 1em 0;
}

/* Supervisor select researcher */
.supervisor-researchers-list {
  display: flex;
  flex-direction: row;
}

/* Performance overview */
.performance-overview {
  flex-direction: row;
}
.performance-section p {
  text-align: start;
}
.performance-section2 {
  margin-left: 12px;
}

/* Submission preview fill */
.coauthor-indicator, .colour-bar {
  max-height: 1000px;
  height: auto;
  max-width: 15px;
}
.submission-preview-text{
  flex-direction: row;
  display: flex;
}

/* New admin form */
.new-admin-inputs {
  flex-direction: row;
  gap: 100px;
}

/* Signup */
.signup-div {
  flex-direction: row;  
}
.signup-div #left{
margin-left: 10%;
}
.signup-div #right{
  margin-right: 20%;
  }

/* New submission button */
.new-submission {
  margin-left: 60px;
  margin-top: 15px;
  width: 250px;
}