.bottom-header {
  gap: 500px;
}

.supervisor-user-selection, .performance-overview, .submission-preview-box {
  flex-direction: row;
}

.coauthor-indicator, .colour-bar {
  max-height: 1000px;
  height: auto;
  max-width: 15px;
}

.submission-preview-text{
  flex-direction: row;
  display: flex;
}

input[type=text], input[type=password] {
  padding: 15px;
  border: 1px solid #4d4d4d;
}
button {
  width: calc(100% - 30px);
  padding: 15px;
  font-size: 16px;
}
.footer-container {
  position: bottom;
  background: #000;
  color: #d4af37;
  padding: 10px 0;
}
.header-container {
  background: #ffffff;
  text-align: center;
}
.logo {
  max-width: 150px;
  margin: 0 auto;
}
.new-submission {
  margin-top: 15px;
  width: 250px;
}

/* admin css */
.admin-container {
  background: #d4af37;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.admin-container table {
  width: 100%;
  border-collapse: collapse;
}

.admin-container th, .admin-container td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.admin-container th {
  background-color: #d4af37;
  color: #333;
}

.edit-button, .delete-button {
  padding: 5px 15px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.edit-button {
  background-color: #0c7400;
}

.delete-button {
  background-color: #e74c3c;
}

.edit-button:hover, .delete-button:hover {
  opacity: 0.9;
}
