.bottom-header {
  gap: 500px;
}

.supervisor-user-selection, .performance-overview, .submission-preview-box {
  flex-direction: row;
}

.coauthor-indicator, .colour-bar {
  max-height: 1000px;
  height: auto;
  max-width: 15px;
}

.submission-preview-text{
  flex-direction: row;
  display: flex;
}

input[type=text], input[type=password] {
  padding: 15px;
  border: 1px solid #4d4d4d;
}