body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.bottom-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: #000;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.bottom-header a {
  color: white;
}

.logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  color: #f8b822;
  margin: 25px 50px 5px 50px;
  border: 0px 0px 5px 0px;
  border-color: black;
  border-bottom-style: solid;
  text-align: center;
}
h1 #submissions{
  width: auto;
}

h2 {
  color: #8a6103;
  margin: 25px 50px 5px 50px;
}

a {
  text-decoration: none;
  color: black;
}

.supervisor-user-selection, .performance-overview, .submission-preview-box {
  background-color: #4d4d4d;
  margin: 0px 50px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 30px;
}

.coauthor-indicator, .colour-bar {
  max-height: 15px;
  max-width: 1000px;
  width: auto;
}

.submission-preview-box div {
  flex-basis: 100%;
}

.submission-preview-text{
  flex-direction: column;
  display: flex;
  text-align: center;
}

.new-submission {
  margin-top: 15px;
  width: 250px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #d4af37;
  border: none;
  color: #1a1a1a;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 0px 0px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}