body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: white;
}

.bottom-header, .footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: #000;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.footer-container {
  margin-top: 25px;
}

.footer-container p {
  margin: 0;
}

.submission-preview {
  display: flex;
  flex-direction: column;
}

.bottom-header a {
  color: white;
}

.logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  color: #f8b822;
  margin: 25px 50px 5px 50px;
  border: 0px 0px 5px 0px;
  border-color: black;
  border-bottom-style: solid;
  text-align: center;
}

h1 #submissions{
  width: auto;
}

h2 {
  color: #8a6103;
  margin: 25px 50px 5px 50px;
}

a {
  text-decoration: none;
  color: white;
}

.login-change {
  text-decoration: underline;
}

.supervisor-user-selection, .performance-overview, .submission-preview-box, .account-list {
  background-color: #4d4d4d;
  margin: 0px 50px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 30px;
}

.coauthor-indicator, .colour-bar {
  max-height: 15px;
  max-width: 1000px;
  width: auto;
}

.submission-preview-box div {
  flex-basis: 100%;
}

.submission-preview-text{
  flex-direction: column;
  display: flex;
  text-align: center;
}

.new-submission {
  margin-top: 15px;
  width: 250px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #d4af37;
  border: none;
  color: #1a1a1a;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 0px 0px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#login-button, #signup-button {
  width: 300px;
}

.view-details {
  width: calc(100% - 400px);
  margin-left: 200px;
  margin-right: 200px;
  background-color: #afafaf;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.login-container, .signup-container {
  max-width: 400px;
  margin: 10px auto;
  background: #2c2c2c;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

input[type=text], input[type=password], input[type=email] {
  width: 93%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #333;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 3px;
}

h3 {
  margin: 10px 0px 0px 0px;
  size: 10px;
}

/* admin mobile css */

.admin-container {
  background: #3a3a3a;
  padding: 15px; 
  border-radius: 3px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.admin-container table {
  width: 100%;
  border-collapse: collapse;
}

.admin-container th, .admin-container td {
  text-align: left;
  padding: 8px; 
  border-bottom: 1px solid #e0e0e0;
}

.admin-container th {
  background-color: #d4af37;
  color: #333;
  font-size: 14px;
}
.account-list h2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4af37;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
}
.edit-button, .delete-button, .btn, .unblock-button {
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 13px; 
}

.edit-button {
  background-color: #0c7400;
}

.delete-button {
  background-color: #e74c3c;
}
.unblock-button{
  background-color:coral;
}
.btn{
  margin: 10px 215px;
  background-color: #d4af37;
  border-radius: 6px;
}

.edit-button:hover, .delete-button:hover, .btn:hover {
  opacity: 0.9;
}

.create-account{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
  margin: 40px 60px;
}

.section-name-bar {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.section-name-bar button {
  width: 75px;
  height: 25px;
  padding: 0px;
  margin: 25px 0px 0px 0px;
}
.progress-bar-container{
  width: 100%;
  height:24px;
  background-color:#817c7c;
  border-radius:10px;
  display: flex;
  flex-direction: row;
}
.progress-bar{
  width: var(--percent) + '%';
  height:100%;
  background-color:#d4af37;
  border-radius:10px;
}
.performance-overview {
  gap: 400px;
}
.performance-section {
  width: 500px;
}
.percent-bar {
  display: flex;
  flex-direction: row;
}

circle.fg {
  transform: rotate(-90deg);
  transform-origin: 125px 125px;
}
.point-boundary {
  margin: 5px;
}
.new-admin-inputs {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 0 15px;
}
.new-admin-inputs p, .new-admin-inputs input {
  margin: 0px;
}
.new-admin-inputs p {
  height: 25px;
}
.new-admin-inputs input {
  height: 0px;
}
.sort {
  background-color: grey;
  height: 16px;
  width: 46px;
  margin: 2px;
  padding: 5px;
  font-size: 10px;
}
.accounts-table th div {
  display: flex;
  flex-direction: row;
}